@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', Helvetica;
    scroll-behavior: smooth;
  }

  body {
    position: relative;
  }

  :root {
    --background: #ffffff;
    --foreground: #282828;
    color: var(--foreground);
  }

  [data-theme='dark'] {
    --background: #282828;
    --foreground: #ffffff;
    color: var(--foreground);
  }
}
